.box{
    width: 950px;
    height: 1000px;
    margin: 0 auto;
    border-bottom: 3px solid;
    margin: 30px auto;
}
.box_left{
    width: 585px;
    height: 1000px;
    float: left;
}
.box_right{
    width: 365px;
    height: 1000px;
    float: left;
}
h1{
    text-align: center;
    color: red;
}
.tupian{
    width: 370px;
    height: 277px;
}
p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 400px;
}
form{
    margin-left: 5px;
}
.login_input{
    width: 356px;
    height: 70px;
}
.login_but{
    margin-top: 5px;
    width: 365px;
    height: 70px;
    font-size: 30px;
}

.today{
    height: 60px;
    text-align: center;
    line-height: 30px;
    width: 585px;
    display: block;
    font-size: 30px;
}

.today_24jie{
    height: 30px;
    text-align: center;
    line-height: 30px;
    width: 585px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #cc6600;
}

.day_box{
    width: 585px;
    height: 495px;
    overflow: hidden;
    margin: 2% 2% 0 0;
    overflow-y:auto;
}

.today_dl{
    display: inline-block;
    width: 136px;
    height: auto;
    font-family: LiSu,sans-serif;
    font-size: 70px;
    line-height: 65px;
    color: #000;
    text-align: center;
    float: left;
    background-color: red;

}

.today_date{
    width: 300px;
    height: 350px;
    float: left;
}


.today_d{
    display: block;
    width: 300px;
    height: 100px;
    text-align: center;
    color: red;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}
.today_w{
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: red;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
}
.today_rl{
    display: block;
    width: 300px;
    height: 194px;
    text-align: center;
    line-height: 180px;
    color: black;
    font-size: 42px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    width: 100%;
    table-layout:fixed;
    height: 272px;
}
td{
    border: 1px solid black;
}

.yi{
    background-color: red;
    color: #fff;
    font-size: 30px;
}

.ji{
    background-color: black;
    color: #fff;
    font-size: 30px;
}
.c{
    display: block;
    font-size: 30px;
    width: 140px;
    float: left;
    text-align: center;
}
.box_djs{
    width: 365px;
    height: 60px;
    float: left;
    border: 1px solid black;
    margin-bottom: 23px;
}
.djs_fes{
    display: block;
    width: 225px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #696969;
    float: left
}
.djs_date{
    display: block;
    width: 140px;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    background: #cc6600;
    color: #fff;
    float: left
}


.news{
    height: 1300px;
    width: 950px;
    overflow-y:auto;
    margin-top: 5%;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.table_title{
    font-size: 45px;
    border-radius: 3%;
    margin:3% 3%;
}
.news_img{
    height: 252px;
    width: 363px;
    float: left;
    margin-right: 8px;
    border-radius:5px;
}
.news_content{
    height: 255px;
    width: 950px;
    margin: 5% 0%;
}
.news_title{
    float: left;
    height:80px;
    font-size: 30px;
    width: 570px;
}
.news_digest{
    float: left;
    height:140px;
    font-size: 25px;
    width: 570px;
}
.a_color{
    color: #888888;
}
.news_info{
    float: left;
    height: 25px;
    width: 570px;
}
.news_info span{
    font-size: 25px;
}