<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
</head>
<body>
    <div class="box">
        <div class="box_left">
            <span class="today" onclick="login();">{{ data_dict.rili.today[0] }}</span>
<!--            <span class="today">{{ data_dict.rili.today[0] }}</span>-->
            <span class="today_24jie">{{data_dict.rili.today_24jie[0]}}</span>
            <div class="day_box">
                <span class="today_dl">{{data_dict.rili.today_dlleft[0]}}</span>
                <div class="today_date">
                    <span class="today_d">{{data_dict.rili.day}}</span>
                    <span class="today_w">{{data_dict.rili.today_week_id[0]}}</span>
                    <span class="today_rl">{{data_dict.rili.today_nongli[0]}}</span>
                </div>
                <span class="today_dl">{{data_dict.rili.today_dlright[0]}}</span>
            </div>
            <table cellpadding="0" cellspacing="0">
                <tr style="height: 44px;">
                    <th>
                        <div class="yi">宜</div>
                    </th>
                    <th>
                        <div class="ji">忌</div>
                    </th>
                </tr>
                <td>
                    {% for yi in data_dict.rili.today_yi %}
                    <span class="c">{{ yi }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for ji in data_dict.rili.today_ji %}
                    <span class="c">{{ ji }}</span>
                    {% endfor %}
                </td>
            </table>
        </div>
        <div class="box_right">
            <h1>近期假日倒计时</h1>
            {% for i in range(0, 6) %}
            <div class="box_djs">
                <span class="djs_fes">{{ data_dict.rili.festival_name[i] }}({{ data_dict.rili.festival_date[i] }})</span>
                <span class="djs_date">{{ data_dict.rili.festival_djs[i] }}</span>
            </div>
            {% endfor %}
            <img src="/static/img/lunbo/1.jpg" alt="" id="tupian" class="tupian">
            <form action="/" method="post" id="login" style="display: none;">
                <p>账号:</p>
                <input type="text" name="user_name" class="login_input">
                <button type="submit" value="提交" class="login_but">提交</button>
            </form>
        </div>
    </div>
    {%for key in data_dict.keys()%}
        {%if key != 'rili'%}
        <span class="table_title" onclick="xs('{{key}}');" id="title_{{key}}">
        {{key}}
        </span>
        {%endif%}
    {%endfor%}
    {%for key in data_dict.keys()%}
        {%if key != 'rili'%}
        <div class="news" id="{{key}}">
            {%if key == '微博热搜'%}
                {%for v in data_dict[key]%}
                <div class="weibo_hot">
                    <span>
                        <img src="{{v.pic}}" class="weibo_icon">
                    </span>
                    <span class="weibo_title">
                        <a href="{{v.scheme}}" style="color: black;">{{v.desc}}</a>
                    </span>
                    {%if 'icon' in v%}
                    <span  class="weibo_icon">
                        <img src="{{v.icon}}">
                    </span>
                    {%endif%}
                </div>
                {%endfor%}
            {%elif key == 'B站热搜'%}
                {%for v in data_dict[key]%}
                <div class="weibo_hot">
                    <span class="bili_index">
                        {{v.index}}.
                    </span>
                    <span class="weibo_title">
                        <a href="https://m.bilibili.com/search?keyword={{v.show_name}}" style="color: black;">{{v.show_name}}</a>
                    </span>
                    {%if v.icon != ''%}
                    <span  class="bili_icon">
                        <img src="static/img/hot/{{v.icon}}">
                    </span>
                    {%endif%}
                </div>
                {%endfor%}
            {%else%}
                {%for v in data_dict[key]%}
                <div class="news_content">
                    <img src="{{v.imgsrc}}" alt="" class="news_img">
                    {%if v.skipType not in ['video','photoset']%}
                    <div class="news_title">
                        <a href="{{v.url}}">{{v.title}}</a>
                    </div>
                    <div class="news_digest">
                        <a href="{{v.url}}" class="a_color">{{v.digest}}...</a>
                    </div>
                    {%else%}
                    <div class="news_title">
                        <a href="{{v.skipURL}}">{{v.title}}</a>
                    </div>
                    <div class="news_digest">
                        <a href="{{v.skipURL}}" class="a_color">点我查看视频详情页</a>
                    </div>
                    {%endif%}
                    <div class="news_info">
                        <span style="float: left; font-weight:bold;">
                            {{v.source}}
                        </span>
                        <span style="float: right; font-weight:bold;">
                            {{v.ptime}}
                        </span>
                    </div>
                </div>
                {%endfor%}
            {%endif%}
        </div>
        {%endif%}
    {%endfor%}
    <div id="dataid" d="{{img_list}}" style="display:none"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>